.beard {
  width: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: $bg-lightgrey;
}

.beard__wrapper {
  width: 320px;
  margin: 0 auto;
}

.beard__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  padding: 30px 0;
}

.beard__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.beard__radio {
  position: relative;
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.beard__radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.beard__checkmark {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border: solid 1px #e5ddd5;
  border-radius: 50%;
}

.beard__radio:hover .beard__radio-input ~ .beard__checkmark {
  border: solid 1px #d5c9bd;
}

.beard__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.beard__radio-input:checked ~ .beard__checkmark:after {
  display: block;
}

.beard__radio .beard__checkmark:after {
 	top: 14px;
	left: 14px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
  border: solid 1px #e5ddd5;
}

.beard__icon {
  padding: 16px 0;
  margin: 0 auto;
  fill: #826550;
}

@media (min-width: $tablet-width) {
  .beard {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      margin-top: 45px;
      left: 0;
      width: 640px;
      transform: translate(-50%);
      left: 50%;
      height: 1px;
      background-color: #e5ddd5;
      }
    }

  .beard__wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
  }

  .beard__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 300px;
    background-color: $bg-lightgrey;
  }

  .beard__radio {
    padding: 30px 0;
  }

  .beard__radio-wrapper {
    flex-wrap: nowrap;
    font-size: 24px;
    line-height: 24px;
  }

  .beard__icon {
    padding: 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .beard::before{
    width: 960px;
  }
  
  .beard__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
}
