.modal-success {
	position: fixed;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 3;
	bottom: 30%;
	width: 100%;
	margin: 0 auto;
}

.modal-success__wrapper {
	padding: 50px 70px;
}

.modal-success-show {
	display: block;
}

.modal-success__title {
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 30px;
	text-transform: uppercase;
}

.modal-success__description {
	text-align: center;
	margin: 0;
}

.modal-success__button {
	  text-transform: uppercase;
	  font-family: inherit;
	  font-weight: 700;
	  font-size: 18px;
	  line-height: 24px;
	  width: 100%;
	  margin-top: 35px;
	  padding: 10px 0;
	  color: #ffffff;
	  background-color: #826550;
	  border: none;
	  cursor: pointer;

	  &:hover,
	  &:active {
	    background-color: #6a4d38;
	  }

	  &:disabled {
	    color: #978374;
	  }
	}

@media (min-width: $tablet-width) {
	.modal-success {
		left: 50%;
		transform: translate(-50%);
		width: 460px;
		margin: 0 auto;
	}
}
