.other {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: $bg-lightgrey;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }
}

.other__wrapper {
  width: 320px;
  margin: 0 auto;
}

.other__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  padding: 30px 0;
}

.other__form {
  display: flex;
  flex-direction: column;
}

.other__label {
  display: block;
  position: relative;
  padding: 15px 60px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.other__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.other__checkmark {
  position: absolute;
  top: 13px;
  left: 0;
  height: 33px;
  width: 33px;
  background-color: #ffffff;
	border: solid 1px #d5c9bd;
}

.other__label:hover .other__input ~ .other__checkmark {
  border: solid 1px #826550;
}

.other__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.other__input:checked ~ .other__checkmark:after {
  display: block;
}

.other__label .other__checkmark:after {
  left: 13px;
  top: 2px;
  width: 7px;
  height: 22px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.other-button__button {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin: 50px 0 75px 0;
  padding: 10px 0;
  color: #ffffff;
  background-color: #826550;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #6a4d38;
  }

  &:disabled {
    color: #978374;
  }
}
