.prices {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  background-color: #353535;
  padding-bottom: 60px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }
}

.prices__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.prices__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 30px 0;
}

.prices__table {
  font-size: 20px;
  line-height: 25px;
  display: flex;
  text-align: left;
}

.prices__table tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.prices__table tbody {
  width: 100%;
}

.prices__table-number {
  display: none;
}

.prices__table-service {
  font-weight: 700;
  width: 50%;
}

.prices__table-extra {
  font-weight: 400;
  width: 50%;
  order: 2;
}

.prices__table-price {
  font-weight: 400;
}

.prices-clock {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: solid 1px #484848;
}

.prices-clock__icon {
  height: 58px;
  width: 58px;
  fill: #ffffff;
}

.prices-clock__description {
  width: 170px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .prices {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;

    &::after {
      position: absolute;
      content: "";
      top: -42px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid transparent;
      border-bottom: 42px solid #353535;
    }

    &::before {
      position: absolute;
      content: "";
      top: -42px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 50vw solid transparent;
      border-bottom: 42px solid #353535;
    }
  }

  .prices__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .prices__title {
    text-align: left;
    font-size: 40px;
    line-height: 30px;
    padding: 50px 0;
  }

  .prices__table tr {
    display: inline-table;
    width: 640px;
    border: solid 1px #484848;
    border-collapse: collapse;
  }

  .prices__table-number {
    display: table-cell;
    font-weight: 400;
    padding: 16px;
    color: #8f8f8f;
  }

  .prices__table-service {
    padding: 16px;
    border: solid 1px #484848;
    border-collapse: collapse;
  }

  .prices__table-extra {
    width: 200px;
    padding: 16px;
    border: solid 1px #484848;
    border-collapse: collapse;
  }

  .prices__table-price {
    width: 160px;
    padding: 16px;
    border: solid 1px #484848;
    border-collapse: collapse;
  }

  .prices-clock {
    margin: 10px 0;
  }

  .prices-clock__icon {
    height: 72px;
    width: 72px;
  }

  .prices-clock__description {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 27px;
    width: 480px;
    margin: 9px 0;
  }
}
