.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: $bg-lightgrey;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-bottom: 35px solid $bg-darkgrey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 160px solid transparent;
    border-bottom: 35px solid $bg-darkgrey;
  }
}

.reviews__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;

    width: 320px;
    height: 1px;
    background-color: #4a4a4a;
    background-repeat: no-repeat;
    opacity: 0.1;
  }
}

.reviews__title {
  margin: 0;
  padding: 60px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.reviews__item {
  display: flex;
  margin: 0;
  padding: 0 20px;
}

.slider__item--john {
  display: none;
}

.slider__item--ivan {
  display: none;
}

.reviews__author-wrapper {
  width: 200px;
  padding-left: 20px;
}

.reviews__author-image {
  border-radius: 50%;
  margin: 0;
}

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700px;
}

.reviews__text {
  margin: 0;
  padding: 10px 0 25px 0;
}

.reviews__right {
  display: none;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__toggles {
  text-align: center;
  outline: none;
  margin: 0;
  padding-bottom: 50px;
}

.slider__toggle-reviews {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 16px;
  width: 6px;
  margin: 0 8px;
  transform: rotate(45deg);
  background-color: transparent;
  border: solid 2px #8f8f8f;
  outline: none;
  display: inline-block;
}

.slider__toggle-reviews--active {
  background-color: $bg-darkgrey;
  border-color: $bg-darkgrey;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
    padding-bottom: 50px;

      &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #4a4a4a;
      background-repeat: no-repeat;
      opacity: 0.1;
    }
  }

  .reviews__title {
    margin: 0;
    padding: 40px 0;
    text-align: left;

    font-size: 40px;
  }

  .reviews__list {
    width: 540px;
    margin: 0 auto;
    border: solid 1px #e5ddd5;
  }

  .reviews__item {
    position: relative;
    justify-content: center;
    width: 540px;
    height: 122px;
    margin: 0 auto;
    padding: 30px 0;
  }

  .reviews__author-wrapper {
    width: 360px;
  }

  .reviews__author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .reviews__text {
    padding: 10px 0;
  }

  .reviews__right {
    position: absolute;
    display: block;
    top: 35px;
    right: 0;
    padding: 6px 0;
    width: 160px;
    margin: 0 auto;
    border: 1px solid #e5ddd5;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #826550;
    }

    &:active {
      border: none;
      background-color: #d5c9bd;
      color: #958c84;
    }
  }

  .reviews__toggles {
    position: absolute;
    bottom: 40px;
    left: 270px;
    padding: 0 10px;
    background-color: $bg-lightgrey;
  }

  .reviews__prev {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 110px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 184px;
    border: solid 1px #e5ddd5;
    outline: none;
    background-color: transparent;

      &::after {
        content:"";
        position: absolute;
        top: 80px;
        left: 12px;
        width: 0;
        height: 0;
        border-top: 10px solid $bg-lightgrey;
        border-right: 20px solid black;
        border-bottom: 10px solid $bg-lightgrey;
      }
    }

  .reviews__next {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 110px;
    right: 0px;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 184px;
    border: solid 1px #e5ddd5;
    outline: none;
    background-color: transparent;

      &::after {
        content:"";
        position: absolute;
        top: 80px;
        right: 12px;
        width: 0;
        height: 0;
        border-top: 10px solid $bg-lightgrey;
        border-left: 20px solid black;
        border-bottom: 10px solid $bg-lightgrey;
      }
    }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 100%;
  }

  .reviews__wrapper {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .reviews__author-wrapper {
    width: 500px;
    margin: auto 60px;
    padding: 0;
  }

  .reviews__author-image {
    width: auto;
    height: auto;
    border-radius: 0%;
  }

  .reviews__list {
    width: 820px;
    margin-top: 50px;
  }

  .reviews__item {
    padding: 0;
    width: 820px;
    height: 150px;
  }

  .reviews__title {
    padding: 52px 0 0 80px;
  }

  .reviews__author-picture {
    margin: 0;
  }

  .reviews__right {
    top: 48px;
  }

  .reviews__toggles {
    position: inherit;
    top: 40px;
    left: 0px;
    padding: 0 10px;
    background-color: transparent;
  }

  .reviews__next {
    top: 132px;
    height: 151px;

    &::after {
      top: 60px;
      right: 12px;
    }
  }

  .reviews__prev {
    top: 132px;
    height: 151px;

    &::after {
      top: 60px;
      left: 12px;
    }
  }
}
