.slider {
  position: relative;
  margin: auto;
}

.slider__toggle {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0 8px;
  transform: rotate(45deg);
  background-color: transparent;
  border: solid 2px #8f8f8f;
  outline: none;
}

.slider__toggle-advantages--active {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 8px;
  padding: 0;
  transform: rotate(45deg);
  background-color: #ffffff;
  border: solid 2px #ffffff;
  outline: none;
}


.slider__toggle-reviews {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 8px;
  padding: 0;
  transform: rotate(45deg);
  background-color: transparent;
  border: solid 2px #8f8f8f;
  outline: none;
}

.slider__toggle-reviews--active {
  background-color: $bg-darkgrey;
  border-color: $bg-darkgrey;
}

.slider__item--john {
  display: none;
}

.slider__item--ivan {
  display: none;
}
