.works {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: $bg-lightgrey;
  padding-bottom: 70px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    border-bottom: 42px solid $bg-darkgrey;
  }
}

.works__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.works__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 30px 0;
}

.works__button {
  display: none;
}

.works__item {
  position: relative;
  margin-bottom: 20px;
  outline: solid 1px #e5ddd5;
}

.works__image {
  width: 100%;
  height: 100%;
}

.works__latest {
  position: absolute;
  bottom: 340px;
  left: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #826550;

  &::before {
    position: absolute;
    content: "";
    top: 0px;
    right: -15px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 30px solid #826550;
  }

  &::after {
    position: absolute;
    content: "";
    top: 27px;
    right: -15px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #826550;;
  }
}

.works__container {
  padding: 0 22px;
}

.works__name {
  font-size: 24px;
  line-height: 27px;
}

.works__option {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  padding: 0;
}

.works__option-list {
  text-transform: uppercase;
  display: flex;
  padding-right: 30px;
}

.works__option-icon {
  height: 63px;
  fill: #978374;
}

.works__option-item {
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .works {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      top: -42px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      top: -42px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 50vw solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }
  }

  .works__wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
  }

  .works__title {
    text-align: left;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 60px 0;
    width: 420px;
  }

  .works__button {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 14px 0;
    width: 160px;
    margin: 0 auto;
    border: 1px solid #e5ddd5;
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    background-color: transparent;
    outline: 0;
    cursor: pointer;

      &:hover,
      &:focus {
         border: 1px solid #826550;
       }

      &:active {
      border: 0;
      background-color: #d5c9bd;
      color: #958c84;
    }
  }

  .works__container {
    width: 317px;
    padding: 20px 50px;
  }

  .works__option {
    margin-top: auto;
    position: absolute;
    bottom: 0;
  }

  .works__item {
    display: flex;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .works {

    &::after {
      position: absolute;
      content: "";
      top: -65px;
      border-bottom: 65px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      top: -65px;
      border-bottom: 65px solid $bg-lightgrey;
    }
  }

  .works__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  .works__title {
    width: 640px;
  }

  .works__button {
    top: 50px;
    right: 0px;
  }

  .works__latest {
    bottom: 405px;
    left: 760px;

    &::before {
      top: 0px;
      right: 184px;
      border-left: 15px solid transparent;
      border-top: 30px solid #826550;
    }

    &::after {
      top: 27px;
      right: 184px;
      border-left: 15px solid transparent;
      border-bottom: 30px solid #826550;
    }
  }

  .works__container {
    width: 400px;
    padding: 100px 40px 0 40px;
  }

  .works__item-wrapper {
    display: flex;
  }

  .works__container--small {
    width: 225px;
    padding: 10px 35px;
  }

  .works__item {
    display: flex;
    margin-bottom: 40px;
  }

  .works__option {
    flex-wrap: nowrap;
  }

  .works__item--small {
    display: block;
    height: 545px;
    margin: 0;
    margin-right: 39px;
    height: 545px;
  }

  .works__image--small {
    width: 100%;
    height: auto;
  }
}
