.advantages {
  width: 320px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 45px;

  &::after {
    position: absolute;
    content: "";
    bottom: -45px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-bottom: 35px solid $bg-lightgrey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -45px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 160px solid transparent;
    border-bottom: 35px solid $bg-lightgrey;
  }
}

.advantages__list {
  display: block;
  padding: 0;
  margin: 0;
}

.advantages__item {
  text-align: center;
  padding: 40px 10px 20px 10px;

  list-style: none;
}

.advantages__item--cool {
  display: none;
}

.advantages__item--expensive {
  display: none;
}

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 30px 0;
}

.advantages__description {
  margin: 0;
}

.advantages__toggles {
  text-align: center;
  margin: 0;
}

.slider {
  position: relative;
  margin: auto;
}

.slider__toggle {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 16px;
  width: 6px;
  margin: 0 8px;
  transform: rotate(45deg);
  background-color: transparent;
  border: solid 2px #8f8f8f;
  outline: none;
  display: inline-block;
}

.slider__toggle--active {
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 16px;
  width: 6px;
  margin: 0 8px;
  transform: rotate(45deg);
  background-color: #ffffff;
  border: solid 2px #ffffff;
  outline: none;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #353535;

    &::after {
      position: absolute;
      content: "";
      bottom: 0px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 384px solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 384px solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }
  }

  .advantages-info__wrapper {
    padding-left: 33px;
  }

  .advantages__item {
    position: relative;
    width: 588px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    display: flex;
  }

  .advantages__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 572px;
    height: 1px;
    background-color: #4a4a4a;
    background-repeat: no-repeat;
  }

  .advantages__item--expensive::after {
    display: none;
  }

  .advantages__title {
    margin: 0 0 20px 0;
  }

  .advantages__item--cool {
    display: flex;

  }

  .advantages__item--expensive {
    display: flex;;
  }

  .advantages__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      bottom: 0px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 600px solid transparent;
      border-bottom: 65px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 600px solid transparent;
      border-bottom: 65px solid $bg-lightgrey;
    }
  }

  .advantages__wrapper {
    display: flex;
    width: 960px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    display: block;
    width: 260px;
    padding: 70px 30px;
    text-align: center;
  }

  .advantages__item::after {
    display: none;
  }

  .advantages__title {
    margin: 30px;
  }

  .advantages__item--cool {
    display: block;
  }

  .advantages__item--expensive {
    display: block;
  }

  .advantages-info__wrapper {
    padding: 0;
  }

  .advantages__toggles {
    display: none;
  }
}
