.news {
  width: 320px;
  margin: 0 auto;
}

.news__title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.news__list {
  margin: 0;
  padding: 0;
}

.news__item {
  display: flex;
  justify-content: space-between;
  padding: 33px 20px 18px 20px;
}

@media (min-width: $tablet-width) {
  .news {
    width: 640px;
    margin: 0 auto;
  }

  .news__title {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .news__item {
    width: 320px;
    padding: 60px 36px 36px 0;
  }

  .news__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .news {
    width: 960px;
    margin: 0 auto;
  }

  .news__title {
    margin: 0;
    padding: 52px 0 0 70px;
    text-align: left;
  }

  .news__item {
    width: 320px;
    padding: 57px 40px 40px 0;
  }
}
