.news {
  position: relative;
  width: 320px;
  margin: 0 auto;
  color: #000000;
  background-color: $bg-lightgrey;

  &::after {
    position: absolute;
    content: "";
    top: -35px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-bottom: 35px solid $bg-lightgrey;
  }

  &::before {
    position: absolute;
    content: "";
    top: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 160px solid transparent;
    border-bottom: 35px solid $bg-lightgrey;
  }
}

.news__title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 40px 0 20px 0;
}

.news__list {
  margin: 0;
  padding: 0;
}

.news__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 20px;

    width: 280px;
    height: 1px;
    background-color: #4a4a4a;
    background-repeat: no-repeat;
    opacity: 0.1;
  }
}

.news__item--9 {
  display: none;
}

.news__date {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  color: #ffffff;
  background-color: #000000;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;

    border: 25px solid transparent;
    border-bottom: 14px solid #000000;
    transform: rotate(180deg);
    z-index: -2;
  }
}

.news__item:hover .news__date,
.news__item:focus .news__date {
  background-color: #826550;
}

.news__item:active .news__date {
  color: #a09187;
  background-color: #6a4d38;
}

.news__item:hover .news__date::after,
.news__item:focus .news__date::after {
  border-bottom: 14px solid #826550;
}

.news__item:active .news__date::after {
  border-bottom: 14px solid #6a4d38;
}

.news__item:hover .news__text,
.news__item:focus .news__text  {
  color: #826550;
  text-decoration: underline #826550;
}

.news__item:focus .news__text  {
  color: #a09187;
  background-color: #6a4d38;
}

.news__day {
  font-size: 30px;
  line-height: 30px;
}

.news__text {
  width: 210px;
  margin: 0;
  color: #000000;
}

.news__to-all {
  display: block;
  padding: 14px 0;
  width: 280px;
  margin: 0 auto;
  border: 1px solid #e5ddd5;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  outline: none;
  cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #826550;
    }

    &:active {
      border: none;
      background-color: #d5c9bd;
      color: #958c84;
    }
}

@media (min-width: $tablet-width) {
  .news {
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: -42px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      top: -42px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 50vw solid transparent;
      border-bottom: 42px solid $bg-lightgrey;
    }
  }

  .news__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .news__title {
    margin: 0;
    padding-top: 50px;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
  }

  .news__item {
    width: 284px;
    padding: 40px 36px 36px 0;

    &::after {
      display: none;
    }
  }

  .news__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .news__to-all {
    position: absolute;
    top: 48px;
    right: 96px;
    width: 160px;
    padding: 6px 30px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: -65px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid transparent;
      border-bottom: 65px solid $bg-lightgrey;
    }

    &::before {
      position: absolute;
      content: "";
      top: -65px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 50vw solid transparent;
      border-bottom: 65px solid $bg-lightgrey;
    }
  }

  .news__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .news__title {
    margin: 0;
    padding: 52px 0 0 70px;
    text-align: left;
  }

  .news__item {
    width: 320px;
    padding: 57px 40px 40px 0;
  }
}
